/* **********************************GLOBAL CONFIGURATION***************************************************  */

#contenidoPrincipal {
    font-family: 'Noto Serif', serif;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* **********************************GLOBAL CONFIGURATION***************************************************  */




/* **********************************CONFIGURATION WHITE/TRANSPARENT CONTAINER******************************  */

#fondoBlanco {
    background: white;
    justify-content: center;
    box-shadow: 1px 1px 10px 5px #666;
    opacity: 96%;
    border-radius: 20px;
}

#contenidoTotal {
   opacity: 100;
}

/* **********************************CONFIGURATION WHITE CONTAINER***************************************  */




/* ***********************************CONFIG NEWS BAR****************************************************** */

#barraNoticias {
    background-color: transparent;
    align-self: center;
    text-align: center;
    height: 100px;  
    background: rgba(82, 82, 82, 0.411);
    border-radius: 2%;
    box-shadow: 2px 2px 4px #666;
}

.intro {
    overflow: hidden;
    white-space: nowrap;
    font-size: 4rem;
    color: white;
    width: 260px;
    border-right: 2px solid rgba(0,0,0,.87);
    animation: animIntro 3.5s steps(23 ,end),
               animBar 1s step-end infinite;

}

@keyframes animIntro {
    0%{ width: 0;}
    100%{ width: 265px;}
}

@keyframes animBar {
    0%, 100%{ border-color: rgba(0,0,0,0); }
    50%{  border-color:;}
}   

#barraVisitantes {
    background-color: white;
    align-self: center;
    height: 100px;
}

.counter {
    text-align: center;
    font-size: 100px;
}

.counter {
    background-color: transparent;
    padding: 20px 0;
    border-radius: 5px;
}


.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}      

/* *************************************CONFIG NEWS BAR ************************************************** */




/* **************************************CONFIG BACK TO TOP*********************************************** */

#return-to-top {
    position: fixed;
    bottom:  20px;
    right: 20px;
    background: white;
    opacity: 40%;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    
}
#imgToTop {
    width: 30px;
    height: 30px;
    margin-left:  10px;
    margin-top: 9px;
}
 
/* **************************************CONFIG BACK TO TOP*********************************************** */




/* **************************************CONFIG DARK MODE************************************************* */

.switch-label {
    background: #111;
    display: flex;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    position: relative;
}
.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f1c40f;
}
.ball {
    width: 22px;
    height: 22px;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
#switch {
    opacity: 0;
    position: absolute;
}
#switch:checked +.switch-label .ball{
    transform: translateX(24px);
}

.dark {
   background: #292c35;
   color: white;
   transition: 1s all ease;
   
}


/* **************************************CONFIG DARK MODE************************************************* */




/* ************************************* CONFIG LOGIN MODAL*********************************************** */



#modalHeader, .close {
    margin-top: -1rem;
    align-items: center;
    align-content: center;
}
#logoModal {
    width: 90px;
    height: 90px;
    margin-left: 190px;
}


/* ************************************* CONFIG LOGIN MODAL*********************************************** */





/* *************************************CONFIG NAVIGATION BAR********************************************* */

#navbar {
    opacity: 96%;
    position: relative;
}

#navbarLogo {
    color: black;
    font-family: 'Nosifer', cursive;
}

.dropdown-menu {
    
    background-color: rgba(165, 164, 164, 1.0);
 }
 
 .container>div>nav {
    
     align-items: center;
 }
 .navbar-brand {
     margin-top: 1px;
     color: rgba(88, 88, 88, 0.692);
     
 }
 .nav-link {
     color: rgba(88, 88, 88, 0.692);
 }
 .form-inline>img {
     width: 30px;
     height: 30px;
 }
 #areaBuscar {
     background: transparent;
 }
 #menuDesplegable {
    width: 30px;
    height: 30px;
 }
 #logoEmpresa {
     height: 60px;
     width: 60px;
     border-radius: 50%;
 }

#dropdownMenuButton {
    border-radius: 20px;
}

 #dropdownMenuButton:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 6px #a1c3fe;
}

#botonInicio {
    border-radius: 20px;
}

#botonInicio:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 6px #a1c3fe;
}
/* *************************************CONFIG NAVIGATION BAR********************************************* */



/* ************************************CONFIG CARD DECK**************************************************** */

.card-deck {
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    border-radius: 2%;
    box-shadow: 2px 2px 4px  rgba(82, 82, 82, 0.411);
}   


/* configCarousels */


.carousel-inner {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
#carouselGrande {
    border-radius: 2%;
}

#btnRead {
    border-radius: 20px;
}

#btnRead:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 0 6px #a1c3fe;
}


/* ************************************CONFIG CARD DECK**************************************************** */





/* ***********************************CONFIG FOOTER********************************************************* */

.page-footer {
    align-items: center;
    text-align: center;
    background: #292c35;
    color: white;
   
}

#logosFooter {
 width: 40px;
 height: 40px;
}

.footer-copyright {
    background: black;
}

.rgba-white-light {
    background: white;
}

#botonesAcceso {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/* ***********************************CONFIG FOOTER********************************************************* */




/* *************************************END OF MAIN PAGE CSS*********************************************************************************************************** */


